{% load static %}
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/overview/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-12 pad"><H1>Dialogue <br>with Senior Management</H1></div>
  <div class="col-md-6 col-sm-12 rightalign"><br><br>
    <div class="row">
      <div class="col-4 pad"><strong>VENUE</strong><br>Lecture Theatre 3</div>
      <div class="col-8 pad"><strong>DATE/TIME</strong><br>26 October 2019, 13 00-15 00</div>
    </div><br><br>
    <div class="row pad">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-4 rightalign peace"><br>Speak now or<br>hold your peace.</div>
    <div class="col-4"><br><br><center><a href="#link" class="btn btn-light" role="button">ACTION</a></center></div>
    <div class="col-4"><img src="{% static 'images/guywithmail.png' %}" alt="" style="width:70%;"></div>
  </div><br>
  </div>
  <div class="jumbotron">
    <h3 class="pad"><strong>PROGRAM FLOW</strong></h3>
    <div class="row"><br>
      <div class="col-3">
        <div class="row">
          <div class="col-4 PFNo">01</div>
          <div class="col-8">INTRODUCTION<br>5 mins</div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-4 PFNo">02</div>
          <div class="col-8">SHARING BY MANAGEMENT<br>20 mins</div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-4 PFNo">03</div>
          <div class="col-8">STRUCTURED Q&A<br>1 hour 35 mins</div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-4 PFNo">04</div>
          <div class="col-8">NETWORKING SESSION<br>Post Event</div>
        </div>
      </div>
  </div>
    </div>
    <div class="row">
      <div class="col-4"><center><img src="{% static 'images/guywithmail.png' %}" alt="" style="width:70%;"></center></div>
      <div class="col-8">
        <h2>HISTORY OF DSM</h2><br>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5" style="text-align: right">
      <h2 style="text-align: inherit;">SENIOR MANAGEMENT PROFILE</h2>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
      </div>
      <div style="text-align:center;width:100%;">
          <img src="{% static 'images/guywithmail.png' %}" style="width:90%;">
      </div>
    <div class="row">
      <center><h2>FREQUENTLY ASKED QUESTIONS</h1><br><br>
      <p style="width:50%">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero</p></center>
    </div>
    <div class="row cardrow">
    <div class="col-4 cardcol">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Question 1</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos</p>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Question 4</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</p>
        </div>
    </div>
    </div>
    <div class="col-4 cardcol">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Question 2</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Question 5</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
        </div>
    </div>
    </div>
    <div class="col-4 cardcol">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Question 3</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</p>
        </div>
    </div>
    </div>
    </div>
</body>
