{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/feedbackpage/style.css' %}">
</head>
<body>
<div>
    <!-- <img src="{% static 'images/cloud.png' %}"> -->
    <h1>Dialogue with Senior Management 2019<br>Feedback Form</h1><hr>
    <p> Your feedback will be collated by Student Relations Sub-Committee and will be brought up to Senior Management during DSM2019.<br></p><hr><br>
    <form action='/submit/' method="POST"> {% csrf_token %}
        Name: <br><input type="text" name="stdname" /><br>
        Student ID: <br><input type="number" name="stdid" required/><br>
        Email: <br><input type="text" name="stmail" /><br>
        Pillar: <br><input type="text" name="pillar" /><br>
        Category: <br><select name="category">
            <option value="academics">Academics</option>
            <option value="facilities">Campus Facilities</option>
            <option value="canteen/food">Canteen and Food Options</option>
            <option value="communications">Feedback and Communications Matters</option>
            <option value="5throw">5th Row related matters</option>
            <option value="others">Others</option>
          </select><br>
        Feedback: <br><input class="feedback" type="text" name="message" required/></textarea><br><br><br>
        <input class="submit" type="submit" value="Submit">
    </form>
</div>
</body>