{% load static %}
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/submissions/style.css' %}"
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
    ul {
        list-style-image: url("{% static 'images/plus.png' %}")
    }
    </style>
</head>
<body>

  <!-- NAV -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand pr-4" href="#">
          ROOT Logo
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
          <a class="nav-link px-4" href="/overview">Overview</a>
          </li>
          <li class="nav-item">
          <a class="nav-link px-4" href="/main">Send Feedback</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link px-4" href="/submissions">Submissions <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="https://www.root.sutd.edu.sg">Back to ROOT Website</a>
          </li>
          </ul>
      </form>
      </div>
    </div>
  </nav>


    <div class="container">
    <div class="row py-3">
            <div class="col-lg-4 col-sm-12 pr-0 pb-4 pt-4 filter">
                    <h4>FILTER</h4>
                    <form action='/submitssions/' method="POST"> {% csrf_token %}
                        <div class="form-group">
                        <select name="cat" class="form-control select">
                        <option value="academics">Academics</option>
                        <option value="facilities">Campus Facilities</option>
                        <option value="canteen/food">Canteen and Food Options</option>
                        <option value="communications">Feedback and Communications Matters</option>
                        <option value="5throw">5th Row related matters</option>
                        <option value="others">Others</option>
                        <option value="ABC">All</option>
                        </select>
                        </div>
                        <input class="btn btn-light" type="submit" Value="Activate Filter"></button> 
                    </form>
                    <!--<div class="dropdown">
                            <form action='/submitssions/' method="POST"> {% csrf_token %}
                            <button name="cat"  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a value="academics">Academics</a></li>
                              <li><a value="facilities">Campus Facilities</a></li>
                              <li><a value="canteen/food">Canteen and Food Options</a></li>
                              <li><a value="communications">Feedback and Communications Matters</a></li>
                              <li><a value="5throw">5th Row Related Matters</a></li>
                              <li><a value="others">Others</a></li>
                              <li><a value="ABC">ALL</a></li>
                            </ul>
                          </div>
                        </form>-->
                          
                    </div>
        <div class="col-lg-8 col-sm-12 pl-4">
        <h1 class="subs_title">Feedback</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
    <!--<h1>HERES THE SUBMISSIONS</h1>-->
    <ul>
        {% for sub in allitems %}
            {% if sub.category == category or category == "ABC" %}
            <li>{{ sub.feedback }}</li><hr>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    </div>
    </div>
</body>