html{
  background-color: red;
  background-image: url(https://www.todayonline.com/sites/default/files/styles/new_app_article_detail/public/photos/43_images/ezxsutd02231_read-only.jpg?itok=qynXHPZj); 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

body {
  font-family: Calibri;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;}

div {
  margin: auto;
  height: 100%;
  width: 80%;
  border: 3px solid red;
  padding: 50px;
  background-color: rgba(255, 1, 1, 0.80);
  border: 5px ridge white;
  text-align: center;
  text-color: white;
}

input {
  height: 5%;
  width:20%;
  margin: 0.5%;
}

select {
  height: 5%;
  width:20%;
  margin: 0.5%;
}

.submit {
  background-color: white;
  color: black;
}

.feedback {
  width:80%;
  height:5%;
  margin: 0.5%;
}