.subs_title {
    font-size: 80px;
}

.btn-light {
    width:90%;
    height:50px;
}
.select {
    width:90%;
    height:auto;
}

option {
    width:auto;
    height:auto;
}

.filter {
    position:sticky;
    top:0;
}