.subs_title {
    font-size: 80px;
}

.row {
    width:100%;
}

.col-3 {
    margin:1%;
}

.btn-light {
    width:80%;
    height:50px;
}

.filter {
    margin-top:0%;
    padding-top:3%;
    padding-bottom:3%;
    border-right: 1px solid black;
    position: fixed;
}

.subs {
    position: absolute;
    left:25%;
}